body{
    background-image: url(4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}
.section{
    display: flex;
}
.ber ul li{
display: inline;
list-style: none;
font-size: 20px;
margin: 10px 20px;
margin-left: 20px;

}
.ber{
    margin-left: 160px;
}
.ber ul li:hover{
    color: coral;
}
.protfolio ul li{
    list-style: none;
    margin-left: 40px;
    font-size: 40px;
    padding-left: 30px;
    font-weight: bold;
   

}
.section2{
    display: flex;
}
.title{
    width: 100%;
    margin-top: 80px;
    margin-left: 70px;
}
#font-size{
    font-size: 40px;
}
p{

margin-right: 120px;
}
.img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-color: crimson;
    font-size: 20px;
    color: white;
    padding: 5px 32px;
    border-radius: 10px;

    
  
}
.button1{
    text-decoration: none;
    border: gray;
    background-color: white;
    color: crimson;
    padding: 5px 32px;
    border-radius: 10px;
    font-size: 20px;

}
.pic{
    width: 100%;
    height: 100%;
 margin-top: 30px;
 
}